/* JokesRotator.css */

.ticker-container {
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  background: #874b4b;
  color: #fff;
  padding: 10px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.ticker {
  display: inline-block;
  animation: ticker 10s linear infinite;
}

@keyframes ticker {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
